<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
    	Hi <%= @user.name %>	
    	<br>
      	We are happy to tell you that someone found your pet. We have a new report for you.
      	<br>
  	    Open application an see it!
    </p>
  </body>
</html>